* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.logo {
  height: 125px;
  width: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  padding: 15px;
}

.allnews div a img {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* margin: 20px; */
}

.allnews {
  display: flex;
}

.fundsproducts {
  justify-content: space-between;
  display: flex;
  margin-top: 45px;
}

footer {
  margin-top: 45px;
}
